.containerNavBar{
    position: fixed;
    margin: 125px 0 0 0;
    height: 100vh;
    //width: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    top: -70px;
    z-index: -1;
    left: 0px;
    cursor: pointer;

    .buttonNavBar{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 16px;
        padding: 25px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        background-color: #fff;
            
    }
}

.sideBarIsOpen{
    width: 200px!important;
}
.sideBarIsClosed{
    width: auto;
}