.containerHeader{
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    align-items: center;
    background-color: rgb(245, 245, 245);

    h2{
        //border: 1px solid blue;
        margin-left: 115px;
    }
    #hamburguerMenu{
        display: none;
    }

    .containerHeaderProfile{
        display: flex;
        flex-direction: row-reverse;
    }
}