.feed {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.containerFeed {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 120px 0 40px 0; 
    margin-left: 200px;
    overflow-y: auto;
    height: calc(100vh - 120px); /* 100vh menos a altura do header */
    scrollbar-width: none;
    scrollbar-color: #c7c7c7 transparent;
}
.containerLastPost{
    width: 100%;
}